  body {
    bottom: 0;
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .container {
      display: flex;
      align-items: center;
      justify-content: center;

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
  
  .input_video {
      display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .input_video.selfie {
    transform: scale(-1, 1);
  }
  
  .canvas-container {
    display: flex;
    height: 100%;
    width: 100%;

    z-index: 5;

    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .output_canvas {
    max-width: 100%;
    display: block;
    position: relative;
    left: 0;
    top: 0;
    z-index: 5;
    background-color: transparent;
  }

  #example-application {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:center;
    z-index: 4;
    background-color: #FFFFFF;
  }

  #example-application > div > .box {
      width: 100px;
      height: 100px;
      margin: 10px;
      background-color: aquamarine;
  }
  