body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: static;
    top: 0;
    margin: 0;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

#input-video {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

#input-video.selfie {
    transform: scale(-1, 1);
    pointer-events: none;
}

#canvas-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

#output-canvas {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    background-color: transparent;
}