@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;


  width: 100%;

  position: static;
  top: 0;

  margin: 0;

  background-color: #FFFFFF;
}

.container {
  width: 100%;
  height: 100%;

  overflow: hidden;
  position: relative;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.input_video {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.input_video.selfie {
  transform: scale(-1, 1);
}

.canvas-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;
}

.output_canvas {
  display: block;

  width: 100%;

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  z-index: 1;

  pointer-events: none;

  background-color: transparent;
}

/* Application Styles */

#example-application {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  margin: 0;

  position: relative;
  /* left: 0;
  right: 0; */
  top: 0;
  /* bottom: 0; */

  z-index: 1;

  background-color: #FFFFFF;
  color: #333333;
  font-family: 'Inconsolata', monospace;
}

#example-application {

}
